{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "useBuiltIns": "usage",
      "debug": true
    }],
    "stage-0",
    "react"
  ],
  "sourceMaps": true
}
