:export {
  maxPhoneWidth: $maxPhoneWidthEm;
}

#home-page-banner {
  overflow: hidden;
  width: 100vw;

  @include media($breakpoint-small...) {
    height: 133.33vw;
  }
  @include media($breakpoint-not-small...) {
    height: 75vw;
  }
  @include media($breakpoint-large...) {
    height: 100vh;
  }

  .lazyImage {
    height: 100%;
    background: $background-svg;
  }
}
