#post-content {
  td {
    padding: 0.25rem;
  }
  blockquote {
    padding: 0 1rem;
    margin: 1rem 0;
    color: #6a737d;
    border-left: 0.25rem solid #dfe2e5;
  }
  p code {
    padding: 0.2rem 0.3rem;
    font-size: 85%;
    margin: 0;
    background-color: rgba(27,31,35,0.05);
    border-radius: 0.25rem;
  }
  pre {
    overflow-x: auto;
    padding: 1rem;
    background-color: #f6f8fa;
    border-radius: 0.25rem;
    line-height: 1.25;

    code {
      font-size: 70%;

      @include media($breakpoint-not-small...) {
        font-size: 85%;
      }
    }
  }
  ul {
    margin-left: 2rem;
  }
  li {
    padding-bottom: 1rem;
  }
  img, video {
    width: 75%;

    @include media($breakpoint-not-small...) {
      width: 60%;
    }
  }
}