#post-content {

  blockquote {
    padding: 0 1rem;
    margin: 1rem 0;
    color: #6a737d;
    border-left: 0.25rem solid #dfe2e5;
  }
  p code {
    padding: 0.2rem 0.3rem;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 0.25rem;
  }
  pre {
    overflow-x: auto;
    padding: 1rem;
    font-size: 60%;
    background-color: #f6f8fa;
    border-radius: 0.25rem;

    @include media($breakpoint-not-small...) {
      font-size: 85%;
    }
  }
  li {
    padding-bottom: 1rem;
  }
  img {
    width: 50%;
  }
}