#menu-bar.bg-transparent {
  color: white;

  a {
    color: white;
  }

  #logo-icon {
    path {
      stroke: white;
    }
    border-color: white;
    width: 2.1em;
    height: 2.05em;
  }

  @include media($breakpoint-small...) {
    .hamburger-piece {
      background-color: white;
    }
    #logo-icon {
      display: none;
    }
  }
}