#menu-bar.bg-white {
  background-color: white;
  color: black;

  .hamburger-piece {
    background-color: black;
  }
  #hamburger-overlay:checked ~ .hamburger-piece {
    background-color: white;
  }
  #logo-icon {
    path {
      stroke: black;
    }
    border-color: black;
    border-width: .125rem;
  }

  @include media($breakpoint-small...) {
    .hamburger-piece {
      box-shadow: none;
    }
  }
  @include media($breakpoint-not-small...) {
    a {
      color: black;
    }
  }
}