#menu-bar.bg-white {
  background-color: white;

  .hamburger-piece {
    background-color: black;
  }
  #hamburger-overlay:checked ~ .hamburger-piece {
    background-color: white;
  }

  @include media($breakpoint-not-small...) {
    #navbar-link-container a {
      color: rgb(221, 216, 208);

      &.active {
        color: black;
      }
    }
  }
}
