.dimensional-image {
  position: relative;
  float: left;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
  }
  svg {
    width: 25%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
img.lazyload, img.lazyloading {
  opacity: 0;
}
img.lazyloaded {
  opacity: 1;
  transition: all 0.3s ease-in;
}
img.slide-in {
  top: 15%;

  &.lazyloaded {
    top: 0
  }
}