#menu-bar.bg-transparent {
  color: white;

  a {
    color: white;
  }

  #logo-icon {
    path {
      stroke: white;
    }
    border-color: white;
  }

  @include media($breakpoint-small...) {
    .hamburger-piece {
      background-color: white;
    }
    #logo-icon {
      display: none;
    }
  }
}