@import './style_sliding_menu';
@import './style_hamburger';

#menu-bar {
  transition: background-color 1s, box-shadow 1s;
  user-select: none;
  z-index: 2;
}
#logo-text {
  margin: auto;
}
@include media($breakpoint-not-small...) {
  #navbar-link-container .active {
    border-bottom: 1px solid;
  }
}