@import '~include-media/dist/_include-media';
@import 'style_wide';
@import 'style_sliding_menu';
@import 'style_hamburger';

#menu-bar {
  display: flex;
  transition: background-color 1.5s;

  nav {
    user-select: none;
  }
}