<!DOCTYPE html>
<html lang="en" manifest="<%= htmlWebpackPlugin.files.manifest %>">
<head>
    <title>Spencer Kline's Homepage</title>
    <meta charset="utf-8">
    <meta name="application-name" content="SK.com Blog">
    <meta name="apple-mobile-web-app-title" content="SK.com Blog">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#224811">

    <link rel="manifest" href="<%= htmlWebpackPlugin.options.manifest %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.iconDirectory %>apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.iconDirectory %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.iconDirectory %>favicon-16x16.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.iconDirectory %>fsafari-pinned-tab.svg" color="#6eae40">

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
</head>
<body class="ma0 helvetica bg-svg">
<%= require('html-loader!./elements/LoadingScreen/partial.html') %>
<noscript style="text-align:center;">
    <h2> PreactSS doesn't work without JavaScript. </h2>
    <h5> Please <a href="http://enable-javascript.com/" target="_blank">enable javascript</a> and refresh your browser
        to continue</h5>
</noscript>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script rel="preload" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script"></script>
<% } %>
</body>
</html>
