@import 'elements/LoadingScreen/style';

.bg-svg {
  background: $background-svg;
}
.bg-primary {
  background-color: $color-primary;
}
.bg-primary-dark {
  background-color: $color-primary-dark;
}
.bg-primary-opaque {
  background-color: rgba($color-primary, .85);
}
.bg-primary-dark-opaque {
  background-color: rgba($color-primary-dark, .85);
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-image {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    &.bg-monument {
      top: 9vw;

      @include media($breakpoint-large...) {
        top: calc(9vw + (100vw - #{$maxTabletWidthEm + 'em'}) * 0.3 - 12vh);
      }
    }
  }
}

ul {
  -webkit-padding-start: 1rem;
  padding-left: 10px;
}